 <!-- Footer -->
      <footer class="col-xl-12 order-xl-6">
        <div class="row align-items-center justify-content-lg-between">
           <div class="col-lg-6">
           
          </div>
          <div class="col-lg-6">
          
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            {% if informations %}
                {% for information in informations %}
                  <li class="nav-item">
                    <a href="{{ information.href }}" class="nav-link nav-info" target="_blank">{{ information.title }}</a>
                  </li>
                {% endfor %}
               {% endif %}
               
            </ul>
          </div>
        </div>
        <br>
        <br>
      </footer>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="catalog/view/theme/sellr/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="catalog/view/theme/sellr/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="catalog/view/theme/sellr/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="catalog/view/theme/sellr/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="catalog/view/theme/sellr/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->

  <!-- Argon JS -->
  <script src="catalog/view/theme/sellr/assets/js/argon.js?v=1.2.0"></script>


{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
  {% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
  </body></html>